<!DOCTYPE html>
<html ng-app="demo">
  <head>
    <title>Demo- trakcer</title>
    <link  href="/stylesheets/bootstrap.css"  rel="stylesheet"  id="bootstrap-css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body ng-controller="pollTrackerController">

        <div id="chartContainer" style="height: 360px; width: 100%;"></div>




   <script src="/js/jquery-1.11.1.min.js"></script>
   <script src="/js/angular.js"></script>
   <script src="/socket.io/socket.io.js"></script>
   <script src="/js/canvasjs.min.js"></script>
   <script src="/js/chat.js"></script>
  </body>
</html>
